/* Grid View */
.cardRes {
    background: rgba(22, 14, 6, 0.301);
    border: 1px solid rgb(206, 206, 206);
    border-radius: 6px;
}

.cardRes:hover {
    cursor: pointer;
    border-color: var(--orange);
    background: rgba(53, 53, 53, 0.301);
    -webkit-box-shadow: 8px 10px 21px -9px rgba(207,127,0,0.61);
    -moz-box-shadow: 8px 10px 21px -9px rgba(207,127,0,0.61);
    box-shadow: 8px 10px 21px -9px rgba(207,127,0,0.61);
}

.cardRes img {
    border-radius: 6px 6px 0 0;
    background: #fff
}
.cardRes h1 {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: var(--orange);
 font-size: larger
}

.cardRes p {
    color: rgb(131, 131, 131);
    font-size: small
}

.cardRes .card-footer {
    border-top: 1px solid #f0f0f04d;
    background: rgba(0, 0, 0, 0.201);
}

.footerButtons {
    color: #f0f0f04d;
    padding: 2px 10px
}
.footerButtons i {
    padding: 0 8px
}

.voteBtn:hover {
    color: gold;
    cursor: pointer;
}
.bookmarkBtn:hover {
    color: rgb(250, 186, 197);
    cursor: pointer;
}

/* ListView */

.cardList {
    border: 1px solid #f0f0f04d;
    margin-bottom: 10px;
    padding: 5px
}

.cardList h2 {
    font-size: medium;
    color: var(--orange)
}

.cardList p {
    color: #f0f0f094;
    font-size: small;
    margin-bottom: 0; 
}

.cardList i {
    /* color: #f0f0f04d; */
    font-size: xx-large
}
.cardList h3 {
    font-size: small;
    color: #f0f0f04d;
    margin-bottom: 0;
}