.card {
    background: rgba(255, 255, 255, 0.301);
    display: flex;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.567);
    border-radius: 10px;
    margin: 20px 50px
}

.cardImg {
    min-width: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    border: 2px solid white
}

.cardDesc {
    padding: 0 50px
}

.cardDesc h2 {
    font-family: 'Lato', sans-serif;
    color: var(--orange);
    margin: 0
}

.cardDesc p {
    font-family: 'Ubuntu', sans-serif;
    color: #fff
}

.resOptions {
    display:flex;
    padding: 10px 0 0;
    margin-bottom: 0
}
.cardIcon {
    width: 100%;
    background: #fff;
    border-radius: 10%;
    padding: 8px 15px;
    margin: 0 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    color: var(--orange);
    text-align: center
}
.cardIcon i {
    width: 15px
}

.iconActive {
    background: var(--orange);
    color: #fff
}
