.navbar {
    background: url('../../images/rust-bg.jpg');
    padding: 10px;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0px 10px 41px -9px rgba(65, 65, 65, 0.55);
-moz-box-shadow: 0px 10px 41px -9px rgba(255,255,255,0.55);
box-shadow: 0px 10px 41px -9px rgba(0, 0, 0, 0.897);
}

.navbar a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 4px;
    margin-left: 25px
}
/* 
font-family: 'Shrikhand', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif; */